* {
    box-sizing: border-box;
}

.v-aside {
    height: 100vh;
    background-color: rgb(17, 21, 19);
    z-index: 3;
}

.main {
    width: 90.46875vw;
    margin-left: 8.2vw !important;
    margin-top: 65px !important;
}

.v-aside_el {
    margin-top: 80px;
}

.v-nav {
    height: 65px;
    background-color: rgb(17, 21, 19);
    display: flex;
    /* Ensuring flex layout for alignment */
    align-items: center;
    /* Vertically align items */
}

.v-search {
    background-color: rgb(53, 56, 52) !important;
    width: 36.5vw;
    border: none;
    height: 40px;
    box-shadow: none !important;
}

.v-search::placeholder {
    color: white;
}

.v-btn {
    background-color: rgb(53, 56, 52) !important;
    height: 40px;
    width: 40px;
    border: none !important;
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
}

.cursor-pointer {
    cursor: pointer;
}


.v-sign {
    width: 100px;
    border-radius: 150px;
    border: none;
}

.v-sign:hover {
    transform: scale(1.1);

}

.v-headlogin {
    font-size: 80px;
}

.v-logwidth {
    width: 50vw;
}

.btn-log:hover {
    background-color: white !important;
    color: red !important;
    border: 2px solid black !important;
    font-weight: bold !important;
}

.v-logsign:hover {
    color: blue !important
}

.v-eye-login {
    position: absolute;
    top: 50.76vh;
    right: 25.78vw;
    cursor: pointer;
}

.v-eye-sign {
    position: absolute;
    top: 64.76vh;
    right: 25.78vw;
    cursor: pointer;
}

.v_link {
    width: 106px;
}

.media-player {
    height: 74px;
    width: 300px;
    border: 1px solid #ccc;
}

.media-player>span {
    height: 73px;
    width: 70px;
}

.v-media-img {
    background-image: url("./assest/img/place.png");
    background-size: 73px 70px;
}

.v_music {
    height: 100vh !important;
    width: 100vw !important;
}
.v_music>img{
    height: 70vh;
    width: 100vw;
    z-index: 1;
}
.v-musicbar{
    height: 30vh !important;
    width: 100vw !important;
}
.v-musicbar>.v_bt>div>button{
    height: 50px;
    width: 50px;
}
.v-cross{
    z-index: 3;
}
.v-cross:hover{
    transform: scaleY(1.5) 
}